<%if @user.errors.any? %>

  <div id="error_explanation">
    <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

    <ul>
      <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<h1>Edit <%= @user.username %> data</h1>

<%= form_for @user do |new|%>
  <%= new.label :username, 'Username:' %><br>
  <%= new.text_field :username, placeholder:'Your Name' %><br>
  <%= new.label :email, 'Email:'%><br>
  <%= new.email_field :email, placeholder: 'test@test.com' %><br>
  <%= new.label :password, 'Password:' %><br>
  <%= new.password_field :password, placeholder:'********' %><br>

  <%= new.submit 'Sign in'%>
<%end%>

